body {
  font-family: Georgia, "Times New Roman", serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

/*This container includes our table and our canvas.*/
.center-container {
  width: 608px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

td {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border: 4px solid blue; /* you can change this color */

  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

#win-lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}
